<div class="col-sm-1"></div>
<div class="col-sm-10">
    <div class="row">
        <form class="atd1" ng-controller="attendanceCtrl" ng-submit="submitData()">
            <!-- <center> -->
            <div class="col-sm-1"></div>
            <div class="col-sm-11">

                <div ng-class=" {'active': isActive}">
                    <!--<div class="col-sm-1"></div>-->
                    <!--<auto-manager autocomplete="allData"></auto-manager>-->
                    <!--< class="col-sm-10">-->
                    <input list="list" class="form-control input-lg" id="inputlg" type="text" ng-model="newValue">
                    <react-component name="AutoManager" props="data"></react-component>
                        <!--<datalist id="list">-->
                            <!--<option ng-repeat="d in $root.data track by $index" value="{{d}}"></option>-->
                        <!--</datalist>-->
                        <!--<br><strong><p>{{newValue}}</p></strong>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
